body{
    background-color: brown;
}

div{
    display: inline-block;
}



.selezione{
    background-color: white;
    text-align: center;
    
    padding: 20px;
}

.tabella{
    background-color: white;
    padding: 10px;
}